<!DOCTYPE html>

<%- include('partials/head', { title: 'User' }) %>

<body>
    <%- include('partials/navigation') %>
  <div class="wrapper">
    <%= message %>
    <h1 > Welcome
       <%= userSession.username %>
    </h1>
    <h1 >You currently have
      <%= user.credits %> credits
   </h1>
   <a href="/credits/buy" class="cta">Buy more credits</a>
  </div>
</body>

</html>

